[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "vim/pack/minpac/opt/minpac"]
	path = vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
