snippet vbase
<template>
</template>

<script>
export default {
	${0}
};
</script>

<style lang="postcss" module>
</style>
endsnippet

snippet vdata
data() {
	return {
		${1:key}: ${2:value},
	};
},
endsnippet
